<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wcm.jcrogar.fca.wcm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quality_control"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quality_control_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quality_control_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security"
            android:screenOrientation="portrait" />
        <activity
            android:name=".focused_improv"
            android:screenOrientation="portrait" />
        <activity android:name=".cost_deployment" />
        <activity android:name=".autonomous_maintenance" />
        <activity android:name=".professional_maintenance" />
        <activity android:name=".logistics" />
        <activity android:name=".environment" />
        <activity android:name=".equipment_management" />
        <activity android:name=".people_development" />
        <activity android:name=".security_seven" />
        <activity android:name=".security_acts" />
        <activity android:name=".cost_seven" />
        <activity android:name=".cost_perdidas" />
        <activity android:name=".focused_seven" />
        <activity android:name=".autono_seven" />
        <activity android:name=".autono_cilr" />
        <activity android:name=".prfessionalm_seven" />
        <activity android:name=".quality_control_seven" />
        <activity android:name=".logistics_seven" />
        <activity android:name=".environment_seven" />
        <activity android:name=".environment_rs" />
        <activity android:name=".equipment_seven" />
        <activity android:name=".people_development_seven" />
        <activity android:name=".info_wcm"></activity>
    </application>

</manifest>