<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wcm.jcrogar.fca.wcm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quality_control"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quality_control_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quality_control_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security"
            android:screenOrientation="portrait" />
        <activity
            android:name=".focused_improv"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cost_deployment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autonomous_maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".professional_maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".environment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipment_management"
            android:screenOrientation="portrait" />
        <activity
            android:name=".people_development"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".security_acts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cost_perdidas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".focused_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autono_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autono_cilr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prfessionalm_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quality_control_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logistics_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".environment_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".environment_rs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipment_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".people_development_seven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info_wcm"
            android:screenOrientation="portrait" />
        <activity android:name=".cost_calculo" />
        <activity android:name=".cost_objetivos" />
        <activity android:name=".security_objetivo" />
        <activity android:name=".login_activity" />
        <activity android:name=".security_politicas" />
        <activity android:name=".autono" />
        <activity
            android:name=".splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawer_seven_cost"
            android:label="@string/title_activity_drawer_seven_cost"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".cost_calculoqk"
            android:label="@string/title_activity_cost_calculoqk"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>